---
---

@import "{{ site.theme }}";

header {
  width: unset;
  float: unset;
  position: unset;
}
section {
  width: unset;
  float: unset;
}
footer {
  width: unset;
  float: unset;
  position: unset;
}